<!DOCTYPE html>
<html>

    {% include head.liquid %}

    <body>
        {% include nav.liquid %}

            {{ content }}

        {% include footer.liquid %}
        {% include js.liquid %}
    </body>
</html>